*{
    outline: 1px solid black;
}

form{
    display: none;
}

div.scoreboard{
    width: 100vw;
    height: 500px;
}

div.gameboard{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
