*{
    margin: 0;
    outline: 1px solid black;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

div.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: none;
    justify-self: center;
    align-self: center;
}

form>div{
    display: flex;
    flex-direction: column;
}

div.scoreboard{
    width: 100vw;
}

div.gameboard{
    flex-grow: 1;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

div.result{
    display: none;
    position: fixed;
    top: 200px;
    left: 100px;
}
